.car-list
  display: grid
  grid-template-columns: 1fr
  gap: 1rem
  
  @media (min-width: 380px)
    grid-template-columns: repeat(2, 1fr)
  
  @media (min-width: 680px)
    grid-template-columns: repeat(3, 1fr)
  
  @media (min-width: 850px)
    grid-template-columns: repeat(4, 1fr)
  
  @media (min-width: 1000px)
    grid-template-columns: repeat(5, 1fr)

.car-list__car
  border-radius: var(--border-md)
  padding: 1rem .5rem
  border: 0
  &:nth-child(odd)
    background: var(--color-background)


.car-list__car__brand
  text-transform: capitalize
  font-size: var(--text-sm)
  font-weight: 600
  height: 42px

.car-list__car__model
  font-weight: 500

.car-list__car__type
  width: fit-content
  font-size: var(--text-xxs)
  font-weight: 500
  border-radius: var(--border-sm)
  padding: .15rem .35rem
  background: var(--color-secondary)