.header
  display: flex
  align-items: center
  justify-content: space-between
  padding: 16px 0
  
.header__nav
  ul
    list-style: none
    display: flex
    gap: 12px
    align-items: center
  
.header__link
  padding: 6px
  font-weight: 500
  font-size: var(--text-xs)

.header__link--active
  border-bottom: 3px solid var(--color-text)